{% extends 'layout/base.html.twig' %}
{% block title %}Weekday{% endblock %}
{% block content %}

    {% if debug is defined %}
        <pre>{{ debug }}</pre>
    {% endif %}

    <h1>next</h1>
    <div>The weekday of {{ year }}/{{ month }}/{{ day }} is {{ weekday.weekday }}.</div>
    <div>
        <a id="link_logout" href="{{ _links.logout.href }}" >ログアウトする</a>
    </div>

{% endblock %}
